// import nullstyle
@import "nullstyle";

// vars

// Primary bg
$moderate-wiolet: #7541c8;
$very-dark-grayish-bue: #48556a;
$very-dark-blackish-bue: #19212e;
$white: #fff;
// Neutral bg
$light-grey: #cfcfcf;
$light-grayish-bue: #ecf2f8;
// fonts
$fz: 13px;
$ff: 'Barlow Semi Condensed', sans-serif;

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: $light-grayish-bue;
    font-family: $ff;
    font-size: $fz;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 1130px) 1fr;
}
.grid__body {
    padding: 20px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid__item {
    color: $white;
    border-radius: 10px;
    & p {
        opacity: 0.5;
        margin-top: 15px;
        animation-name: textAnim;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    animation-name: userAnim;
    animation-delay: 0;
    animation-duration: 3s;
    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border-radius: 50%;
        border: 2px solid $light-grey;
        & img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }
    &__name span {
        opacity: 0.5;
    }
}

@keyframes userAnim {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes textAnim {
    0% {
        margin-bottom: -100%;
    }
    100% {
        margin-bottom: 0;
    }
}

.daniel {
    grid-column: span 2;
    background: $moderate-wiolet;
    &__bg {
        background: url("../img/bg-pattern-quotation.svg") top right 50px no-repeat;
    }
}

.p-20 {
    padding: 20px 35px;
}

.jonathan {
    background:$very-dark-grayish-bue;
}

.jeanette {
    background:$white;
    color: $very-dark-blackish-bue;
}

.patrick {
    grid-column: span 2;
    background:$very-dark-blackish-bue;
    &__icon {
        border: 2px solid $moderate-wiolet;
    }
}

.kira {
    grid-row: span 2;
    background:$white;
    color: $very-dark-blackish-bue;
    & p {
        margin-top: 25px;
    }
}

@media (max-width: 1200px) {
    .grid__body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (3, 1fr);
    }
    .daniel,
    .patrick {
        grid-column: span 1;
    }

    .kira {
        grid-row: span 1;
    }
}

@media (max-width: 767px) {
    .grid__body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
}